0x10    BIPUSH byte
0x59    DUP
0xA7    GOTO label
0x60    IADD
0x7E    IAND
0x99    IFEQ label
0x9B    IFLT label
0x9F    IF_ICMPEQ label
0x84    IINC var byte
0x15    ILOAD var
0xB6    INVOKEVIRTUAL method
0xB0    IOR
0xAC    IRETURN
0x36    ISTORE var
0x64    ISUB
0x13    LDC_W constant
0x00    NOP
0x57    POP
0x5F    SWAP
0xC4    WIDE
0xFF    HALT
0xFE    ERR
0xFD    OUT
0xFC    IN

0xCB    TAILCALL

0xD1    NEWARRAY
0xD2    IALOAD
0xD3    IASTORE
0xD4    GC

0xE1    NETBIND
0xE2    NETCONNECT
0xE3    NETIN
0xE4    NETOUT
0xE5    NETCLOSE

